<h1>Obrigado</h1>
<section id="finish">
  <p>Você acaba de completar a pesquisa. Para enviar suas respostas e receber créditos por ela, por favor, clique no link abaixo.</p>
  <%= link_to 'Finalizar', "http://pesquisa.livra.com/complete" %>
</section>
