<h1>Obrigado</h1>
<section id="finish">
  <p>Você acaba de completar a pesquisa. Para enviar suas respostas, clique no botão abaixo.</p>
  <%= link_to 'Finalizar', "http://pesquisa.livra.com/complete" %>
</section>
