<h1>Obrigado por participar da nossa pesquisa.</h1>
 
<p>Primeiramente vamos apresentar 7 slides com imagens que representam diversos estilos, por favor, preste atenção nestes slides e observe as diferenças entre eles. Em seguida apresentaremos diversas imagens, uma por vez, para você indicar com qual destes perfis ela estaria associada. A imagem a ser analisada estará no centro da tela e as imagens representando os 7 perfis ficarão em volta, basta clicar em um deles para indicar sua escolha e passar para a próxima imagem.</p>
 
<p><strong>Importante: não é possível retornar, então, por favor, tenha certeza antes de clicar nos perfis.</strong></p>

<%= link_to 'Clique aqui para continuar', profile_path(1) %>
