<h2>Analise o painel abaixo por 10 segundos e clique na imagem para continuar</h2>
<section id="profile">
  <h3>Painel <%= @question_number %></h3>
  <%= link_to image_tag("profiles/#{@profile}.jpg"), @next_page %>
</section>
