<h1>Ops, já temos muitas respostas</h1>
<section id="finish">
  <p>Obrigado por colaborar com nossa pesquisa, mas atingimos o limite de respondentes. Por favor, clique no botão abaixo para receber crédito pela pesquisa.</p>
  <%= link_to 'Finalizar', "http://pesquisa.livra.com/quotaFull" %>
</section>
